<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title> Templates | Coding India </title>

    
    <script src="removeBanner.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.jpg">

    <style>
        html{
            scroll-behavior: smooth;
        }
         .nav-link {
            font-family: 'Poppins', sans-serif;
            padding: 0px 15px !important;
            transition: 0.3s;
        }

        .nav-link:hover {
            color: yellow !important;
            transform: translateY(-4px);
        }

        .navbar-brand {
            margin-left: 25px;
            font-size: 24px;
            cursor: pointer;
            color: cyan!important;
            font-family: 'Poppins', sans-serif;
        }
        .ci{
            color: orange;
            font-size: 18px;
        }


        @media only screen and (max-width: 652px){
            .ci{
                display: none;
            }
            .nav-link {
                font-family: 'Poppins', sans-serif;
                padding: 8px !important;
            }
            .ce-um{
                margin-top: 10px;
            }
        }
    </style>

  </head>

  <body>

    
    <!--********************************************* Navbar Start ********************************************-->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand font-weight-bold f-lg-d" href=""> HTML Templates <span
            class="ci"> - Coding India </span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav  ml-auto text-uppercase">
                <li class="nav-item">
                    <a class="nav-link ce-um" href="../index.html">Code Editor<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Templates<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../guide.html" target="_blank" style="margin-right: 35px;">Guide<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <!--********************************************* Navbar End ********************************************-->


    <!--********************************************* Templates Start ********************************************-->


    <main role="main" style="font-family: 'Poppins', sans-serif;">

        <section class="jumbotron text-center" style="margin-top: 62px!important;">
          <div class="container">
            <h1> HTML Templates </h1>
            <p class="lead text-muted">Here are some all time Usefull HTML Templates & CSS, JAVA, PHP Codes for you ! which will save your time while Programming...  You can Copy any code you like !</p>
            <p>
              <a href="#templates" class="btn btn-success my-2">VIEW ALL</a>
              <a href="../index.html" target="_blank" class="btn btn-secondary my-2">CODE EDITOR</a>
              <a href="../guide.html" target="_blank" class="btn btn-primary my-2">Guide</a>
            </p>
          </div>
        </section>
      
        <div class="album py-5 bg-light" id="templates">
          <div class="container">
      
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/starter_temp.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b> Starter Template for HTML </b> </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='starter.html';">View</button>
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="img/dark_mode.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b> Dark Mode for your Website </b> </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='dark_mode.html';">View</button>
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="img/bounce_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b> Bounce </b>Animation with Pure CSS  </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_bounce.html';">View</button>
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/flash_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b>Flash</b> Animation with Pure CSS </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_flash.html';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/heartBeat_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b>HeartBeat</b> Animation with Pure CSS </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_heartBeat.html';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/rubber_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b>RubberBand</b> Animation with Pure CSS </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_rubber.html';">View</button>
                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/swing_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b>Swing</b> Animation with Pure CSS </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_swing.html';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/tada_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b>Tada</b> Animation with Pure CSS </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_tada.html';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/wobble_anm.png" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> <b>Wobble</b> Animation with Pure CSS </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='animation_wobble.html';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/coming_soon.jpg" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> Coming Soon... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='#';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <img src="img/coming_soon.jpg" alt="Image" width="100%" height="225px">
                  <div class="card-body">
                    <p class="card-text"> Coming Soon... </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='#';">View</button>                        
                      </div>
                      <small class="text-muted">04/08/2020</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </main>


      <!--********************************************* Templates End ********************************************-->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>